<mat-nav-list>
  <div fxLayout >
    <button mat-icon-button (click)="onClose()" >
      <mat-icon>menu</mat-icon>
    </button>
    <a routerLink="/"><img src="assets/image/logo.jpg" height="50" width="200" (click)="onClose()"> </a>
  </div>
  <mat-divider></mat-divider>
  <a mat-list-item routerLink="/cards" (click)="onClose()">Сагс</a>
  <a mat-list-item (click)="onClose()">
    <mat-icon>apps</mat-icon>
    View Badges
  </a>
  <a mat-list-item (click)="onClose()">
    <mat-icon>add_circle</mat-icon>
    Add Badge
  </a>
  <button mat-button  [matMenuTriggerFor]="menu">
      <mat-icon>person_outline</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
    <div>
      <ul fxLayout="column">
        <button *ngIf="!userIsAuthenticated" mat-button routerLink="/auth/login" routerLinkActive="mat-accent">Login</button>
        <button *ngIf="!userIsAuthenticated" mat-button routerLink="/auth/signup" routerLinkActive="warn">Signup</button>
        <button *ngIf="userIsAuthenticated" mat-button (click)="onLogout()">Logout</button>
        <button *ngIf="!userIsAuthenticated" mat-button routerLink="/profile">Profile</button>
      </ul>
    </div>
  </mat-menu>
  <mat-divider></mat-divider>
</mat-nav-list>
