<mat-toolbar-row>

</mat-toolbar-row>
<section fxLayout="row" fxLayoutAlign="space-around center">
  <div>
  </div>
  <div>
  </div>
  <div fxLayout="column">
    <img src="/src/assets/image/logo1.png" style="color:white;">
    <span>
      <mat-icon>phone</mat-icon>99482643
    </span>
    <span>
      <mat-icon>mail_oitline</mat-icon>silk@gmail.com
    </span>
    <span>
      <mat-icon>location_on</mat-icon>ub SB duureg
    </span>
  </div>
  <div fxLayout="column">
    <p>Тусламж </p>
    <a routerLink="/"> Видео тусламж</a>
    <a routerLink="/"> Хөнгөлөлт урамшуулал</a>
    <a routerLink="/"> Дэлгүүрт үнэлгээ өгөх</a>
    <a routerLink="/"> Тээвэрлэлтийн үнэ тооцоолуур</a>
    <a routerLink="/"> Хэмжээ размерын хүснэгт</a>
    <a routerLink="/"> Төлбөр буцаалт</a>
  </div>

  <div fxLayout="column">
    <p>Хувийн булан </p>
    <a routerLink="/">Миний булан</a>
    <a routerLink="/">Миний захиалгууд</a>
    <a routerLink="/">Миний данс</a>
    <a routerLink="/">Профайл</a>
    <a routerLink="/">Гар утасны хувилбар</a>
  </div>
  <div fxLayout="column">
    <p>Нүүр </p>
    <a routerLink="/"> Үйлчилгээний нөхцөл</a>
    <a routerLink="/"> Тусламжийн хэсэг</a>
    <a routerLink="/"> Их асуудаг асуултууд</a>
    <a routerLink="/"> Хамтран ажиллах</a>
    <a routerLink="/"> Бидэнтэй холбогдох</a>
  </div>
  <div>
  </div>
</section>
<mat-toolbar fxLayout="column" fxLayoutAlign="center center">
  <div>
    <p>Copyright &copy; 2018 Eshop</p>
  </div>
</mat-toolbar>
