<div>
  <div fxFlex="25" class="category">
    <div class="tab">
      <button *ngFor="let category of categories; let i = index" (mouseover)="toggleCategory(i)">{{category.name}}</button>
    </div>
    <div class="categories">
      <h4 *ngFor="let subCategory of subCategories">{{subCategory}}</h4>
    </div>
  </div>

  <slideshow fxFlex="75" #slideshow [imageUrls]="imageUrls" [height]="height" [minHeight]="minHeight" [arrowSize]="arrowSize"
    [showArrows]="showArrows" [disableSwiping]="disableSwiping" [autoPlay]="autoPlay" [stopAutoPlayOnSlide]="stopAutoPlayOnSlide"
    [debug]="debug" [backgroundSize]="backgroundSize" [backgroundPosition]="backgroundPosition" [backgroundRepeat]="backgroundRepeat"
    [showDots]="showDots" [dotColor]="dotColor" [showCaptions]="showCaptions" [captionColor]="captionColor"
    [captionBackground]="captionBackground" [lazyLoad]="lazyLoad" [hideOnNoSlides]="hideOnNoSlides">
  </slideshow>
</div>
