ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .frontButton{
    background-color: goldenrod;
    height: 45px;
    width:  100px;
      }

  a {
    text-decoration: none;
  }
  input {
    width: 600px;
    margin: .5rem 0;
    padding: 10px;
    border-radius: 25px;
    border: 1px solid black;
}
.callnumbericon {
   margin: .5rem 0;
   padding: .5rem;
}
.callnumber {
  font-size: 15px;

}
mat-toolbar {
 height: auto;
}
mat-toolbar-row {
  height: auto;
}
