<mat-toolbar-row fxLayoutAlign="end center">
  <div fxLayoutAlign="center center">
    <a routerLink="/">Заавар</a>
    <mat-icon fxFlex>call</mat-icon>
    <span>98434955</span>
  </div>

</mat-toolbar-row>
<mat-toolbar-row>
  <div  fxHide.md fxHide.lg fxHide.xl>
    <button mat-icon-button (click)="onToggleSideNav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div fxFlex="80" fxLayoutAlign="space-between center">
    <img src="assets/image/logo.png" routerLink="/" height="50" width="180">
    <div>
      <button mat-button class="frontButton">
        Нүүр
      </button>
    </div>
    <div>
      <input type="text" matInput  name="search" [(ngModel)]="searchString">
      <button mat-icon-button (click)="search()">
        <mat-icon style="color: black;" matSuffix>search</mat-icon>
      </button>
    </div>
  </div>

  <div fxFlex></div>
  <button mat-button>
    <mat-icon>shopping_cart</mat-icon>
  </button>
  <button mat-button>
    <mat-icon>favorite_border</mat-icon>
  </button>
  <button mat-button>
    <mat-icon>person_outline</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <div>
      <ul fxLayout="column">
        <button *ngIf="!userIsAuthenticated" mat-button routerLink="/auth/login" routerLinkActive="mat-accent">Login</button>
        <button *ngIf="!userIsAuthenticated" mat-button routerLink="/auth/signup" routerLinkActive="warn">Signup</button>
        <button *ngIf="userIsAuthenticated" mat-button (click)="onLogout()">Logout</button>
        <button *ngIf="!userIsAuthenticated" mat-button routerLink="/profile">Profile</button>
      </ul>
    </div>
  </mat-menu>
</mat-toolbar-row>
