mat-sidenav-container, mat-sidenav-content, mat-sidenav {
    height: 100%;

@media screen and (max-width: 768px){
  #featured li{
    width: 46%;
  }
}
@media screen and (max-width: 480px){
  #featured li{
    width: 92%;
  }
}
}

mat-sidenav {
    width: 250px;
}

main {
    width: 80%;
    margin: 1rem auto;
}
