a {
  text-decoration: none;
  font-size: 13px;
}

#gallerize-ex {
  background: white;

}


mat-icon, button, .productDescription {
  font-size: 13px;
}
.costmat {
  background-image: url('/src/assets/image/background.jpg');
  font-size: 20px;
}


