<div fxLayout="row" fxLayoutAlign="space-between start">
  <div fxFlex="35">

    <div *ngFor="let image of product.images; let i=index">
      <div *ngIf="selectedImageIndex === i" class="selectedImage">
        <img [src]="image.small" (mouseenter)="togglePic(i)" class="miniImage" >
      </div>
      <div *ngIf="selectedImageIndex !== i">
        <img [src]="image.small" (mouseenter)="togglePic(i)" class="miniImage">
      </div>
    </div>


    <br>
    <br>
    <br>
    <br>

    <ngx-img-zoom [imgSrc]="bigPic" [imgStyle]="'width:383px; height:363px; bottom:0;  left:0;  right:0;  top:0;  margin:0 auto; border:1px  #dcdcdc;'"
      [resultStyle]="'width:363px; height:363px; background-repeat: no-repeat; z-index: 2; position:absolute;
                  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
                    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); top: 0;left: 100%;'"
      [lensStyle]="'width:100px; height:100px'" [containerStyle]="'width:400px; height:400px;'"></ngx-img-zoom>
  </div>


  <br>
  <br>
  <div class="productDescription" fxFlex="63" fxLayoutAlign="space-between start">

    <div fxFlex="58">
      <div>
        <span>{{product.main_title}}</span>
      </div>
      <mat-card class="costmat" fxLayoutAlign="center center">
        <!-- <span type="number"> {{ realcost }} ₮</span> -->
        <h2>{{ product.price_regular }} ₮</h2>
      </mat-card>

      <div>
        <div>
          <span> last 30 days: {{ product.cumm_comments }} ширхэг <button mat-icon-button matTooltip="Уг бараа нь бэлэн">
              <mat-icon>help</mat-icon>
            </button> </span>
          <span> Нөөц: {{ product.stock }} ширхэг
            <button mat-icon-button matTooltip="Уг бараа нь бэлэн">
              <mat-icon>help</mat-icon>
            </button></span>
          <!-- <span>Онцлог: {{ brand }}<button mat-icon-button matTooltip="Уг бараа нь бэлэн">
              <mat-icon>help</mat-icon>
            </button></span> -->
        </div>
        <hr>
        <div fxLayoutAlign="space-between none">
          <div>
            <span>Хэмжээ:</span>
            <mat-chip-list>
              <mat-chip *ngFor="let size of product.sizes; let i=index" style="width: 50px" (click)="sizeChange(size.id)">{{size.name}}</mat-chip>
            </mat-chip-list>

          </div>
          <a routerLink="/">Хэрхэн размер сонгох вэ?</a>
        </div>

        <div>
          <span>Өнгө: </span>
          <br>
          <mat-chip-list>
            <span *ngFor="let color of product.colors">
              <img *ngIf="color.image" class="imgColors" [src]="color.src" style="width: 60px; border-radius: 50%;" (click)="colorChange(color.id)">
              <mat-chip *ngIf="!color.image" style="width: 60px; border-radius: 9%;" (click)="colorChange(color.id)">{{color.name}}</mat-chip>
            </span>
          </mat-chip-list>
          <div>

          </div>

        </div>

      </div>
      <!-- <div>
        <span>Багцын төрөл: </span>
        <br>
        <button mat-raised-button> Стандарт багц </button>
        <button mat-raised-button> Багц 1 </button>
        <button mat-raised-button> Багц 2</button>
        <button mat-raised-button> Багц 3 </button>
      </div> -->
      <!-- <span value="cost">Хятад улс доторх тээвэр: {{ cost }} ₮</span> -->
      <div>
        <span>
          Тоо хэмжээ
          <mat-form-field style="width: 40px;">
            <input matInput value="1" type="number" min="1">
          </mat-form-field> ширхэг, Нийт үнэ {{product.price_regular}}
        </span>
      </div>
      <button mat-raised-button (click)="cardSnackBar()">
        <mat-icon>add_shopping_cart</mat-icon> Сагсанд нэмэх
      </button>
      <hr>
      <div>
        <button mat-raised-button (click)="likeSnackBar()">
          <mat-icon>thumb_up</mat-icon> Таалагдсан бараанд нэмэх
        </button>
        <button mat-raised-button routerLink="/">Захиалах заавар үзэх</button>
      </div>
    </div>
    <div fxFlex="40">
      <mat-card>
        <span>Нэр: <a routerLink="/"> 蒙威罗迪旗舰店</a> </span>
        <br>
        <span>Байршил: <a routerLink="/">Цюаньчжоу <mat-icon>location_on</mat-icon></a></span>
        <br>
        <hr>
        <br>
        <div fxLayout="row">
          <div> <span>Тээвэрлэлт</span> 4.7 </div>
          <hr>
          <div> <span>Бараа</span> 4.7 </div>
          <hr>
          <div> <span>Үйлчилгээ</span> 4.7 </div>
        </div>
        <mat-grid-list cols="2" rowHeight="2:1">
          <mat-grid-tile *ngFor="let pic of pics; let i=index">
            <img [src]="pic.src">
          </mat-grid-tile>
        </mat-grid-list>
        <div>
          <a routerLink="/"><span>
              <mat-icon>menu</mat-icon>Энэ дэлгүүрийн бүх барааг харах
            </span></a>
        </div>
      </mat-card>
    </div>
  </div>
</div>
<div>
  <mat-tab-group>
    <mat-tab label="Зурган тайлбар">
      <div fxLayout="row" fxLayoutAlign="space-around start">
        <div fxFlex="70">
          <img *ngFor="let description_image of product.description_images" src="{{description_image}}">
        </div>
        <div fxFlex="25">
          <div *ngFor="let attribute of product.attributes">{{attribute}}</div>
        </div>
      </div>

    </mat-tab>
    <mat-tab label=" Ижил төстэй бараанууд"> Ижил төстэй бараанууд </mat-tab>
    <mat-tab label=" Яг адилхан бараанууд"> Яг адилхан бараанууд </mat-tab>
    <mat-tab label="Хятад худалдан авагчдын сэтгэгдэл"> Хятад худалдан авагчдын сэтгэгдэл </mat-tab>
  </mat-tab-group>
</div>


