a {
  text-decoration: none;
  font-size: 14px;
}

#gallerize-ex {
  background: white;

}
.miniImage {
  width: 30px;
  border-radius: 8%;
}
// .miniImage:hover {
//  border: 1px;
//  border-style: solid;
//  background-color: greenyellow;
// }

mat-icon, button, .productDescription {
  font-size: 13px;
}
.costmat {
  background-image: url('/src/assets/image/background.jpg');
  font-size: 20px;
}
// .imgColors:hover {
//   border-style: solid;
// }

