<app-category></app-category>

<h2 fxLayoutAlign="center center">Үйлчлүүлэгчид бидний тухай</h2>
<hr>
<h2>Санал болгох бараанууд</h2>
<div>
  <div ng2-carouselamos width="90%" [items]="productsSuggestions" [$item]="itemTemplate" [$prev]="prevTemplate"
    [$next]="nextTemplate" (onSelectedItem)="selectedItem = $event.item; selectedIndex = $event.index"></div>
  <ng-template #prevTemplate>
    <mat-icon>keyboard_arrow_left</mat-icon>
  </ng-template>

  <ng-template #nextTemplate>
    <mat-icon>keyboard_arrow_right</mat-icon>
  </ng-template>

  <ng-template let-item let-i="index" #itemTemplate>
    <div class="items">
      <img [src]="item.url">
    </div>
  </ng-template>
</div>
<h2>Эрэлттэй бараанууд</h2>
<div>
  <div ng2-carouselamos width="100%"  [items]="productsExpecteds" [$item]="itemTemplate" [$prev]="prevTemplate" [$next]="nextTemplate"
    (onSelectedItem)="selectedItem = $event.item; selectedIndex = $event.index"></div>
  <ng-template #prevTemplate>
    <mat-icon>keyboard_arrow_left</mat-icon>
  </ng-template>

  <ng-template #nextTemplate>
    <mat-icon>keyboard_arrow_right</mat-icon>
  </ng-template>

  <ng-template let-item let-i="index" #itemTemplate>
    <div class="items">
      <img [src]="item.url">
    </div>
  </ng-template>
</div>

<h2>Сүүлд үзсэн бараанууд</h2>
<div>
  <div ng2-carouselamos width="100%"  [items]="productLastseens" [$item]="itemTemplate" [$prev]="prevTemplate" [$next]="nextTemplate"
    (onSelectedItem)="selectedItem = $event.item; selectedIndex = $event.index"></div>
  <ng-template #prevTemplate>
    <mat-icon>keyboard_arrow_left</mat-icon>
  </ng-template>

  <ng-template #nextTemplate>
    <mat-icon>keyboard_arrow_right</mat-icon>
  </ng-template>

  <ng-template let-item let-i="index" #itemTemplate>
    <div class="items">
      <img [src]="item.url">
    </div>
  </ng-template>
</div>

<h2>Алдартай брендүүд</h2>


<h2>Шилдэг дэлгүүрүүд</h2>
<div>
  <div ng2-carouselamos width="100%"  [items]="products" [$item]="itemTemplate" [$prev]="prevTemplate" [$next]="nextTemplate"
    (onSelectedItem)="selectedItem = $event.item; selectedIndex = $event.index"></div>
  <ng-template #prevTemplate>
    <mat-icon>keyboard_arrow_left</mat-icon>
  </ng-template>

  <ng-template #nextTemplate>
    <mat-icon>keyboard_arrow_right</mat-icon>
  </ng-template>

  <ng-template let-item let-i="index" #itemTemplate>
    <div class="items">
      <img [src]="item.url">
    </div>
  </ng-template>
</div>


<div id="mySidenav" class="sidenav">
  <a href="#" id="about">About</a>
  <a href="#" id="blog">Blog</a>
  <a href="#" id="projects">Projects</a>
  <a href="#" id="contact">Contact</a>
</div>
